<html>
  <head>
	<title>强哥哥的小窝</title>
    <link rel="stylesheet" href="static/css/pure-min.css">
    <link rel="stylesheet" href="static/css/welcome.css">
	<meta charset="utf8mb4">
	<meta name="baidu-site-verification" content="3zzUwJM1Oy" />
  <meta name="baidu_union_verify" content="d9d0a4695b676c552d9cfc362a561feb">
	<meta name="baidu_union_verify" content="bd813cfa39441c2b191a14309ff0986f">
  <meta name="baidu_union_verify" content="d9d0a4695b676c552d9cfc362a561feb">
</head>
<body>
<div id="wrapper">
  <div id="info">
    <div id="info-content">
      <a href="/home">
      <h1><strong>强 哥</strong></h1></a>
      <p>Welcome to the strong brother in the world. .</p>
    </div>
  </div>
</div><!-- #wrapper -->
</body>
</html>